<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.slvn.petitlauncher"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="16" android:targetSdkVersion="18" />

    <application android:allowBackup="false"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:persistent="true">

        <activity android:name=".Drawer"
            android:theme="@style/AppTheme"
            android:launchMode="singleInstance"
            android:stateNotNeeded="true"
            android:excludeFromRecents="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
